<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Blog Posts</h1>
    <a href="/compose">Compose</a>
    <% posts.forEach(post => { %>
        <div>
            <h2><a href="/posts/<%= post._id %>"><%= post.title %></a></h2>
            <p><%= post.content.slice(0, 100) %>...</p>
        </div>
    <% }) %>
</body>
</html>
